# Environment Variables — JANGAN DI-COMMIT!
.env

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Flask
instance/
*.sqlite3
